<h1>Comment#show for Post: <%= @post.title%></h1>
<%= form_tag mystore, :multipart => true do%>
    <%= file_field_tag :localfile %>
    <%= submit_tag "上传"%>
<% end %>
<ul id="comments_list">
  <% @comments.each do |com| -%>
  <li><%= com.id -%> | <%= com.content -%> | <%= com.created_at -%> </li>
  <% end -%>
</ul>

<%= form_for :newcomment, url: {action: "create1"} do |f| %>
  <%= f.hidden_field :post_id,:value => @post.id %>
  <%= f.text_area :content %>
  <%= f.submit "Add Comment" %>
<% end %>


<p><%= debug(params) if Rails.env.development? %></p>
<p>Find me in app/views/comment/show.html.erb</p>
