<p id="notice"><%= notice %></p>

<h1>Potholes</h1>

<table>
  <thead>
    <tr>
      <th>Streetadress</th>
      <th>Size</th>
      <th>Location</th>
      <th>District</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @potholes.each do |pothole| %>
      <tr>
        <td><%= pothole.streetAdress %></td>
        <td><%= pothole.size %></td>
        <td><%= pothole.location %></td>
        <td><%= pothole.district %></td>
        <td><%= link_to 'Show', pothole %></td>
        <td><%= link_to 'Edit', edit_pothole_path(pothole) %></td>
        <td><%= link_to 'Destroy', pothole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pothole', new_pothole_path %>
